{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CC3201 Project Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
	<h1> Creación de una aplicación web para una base de datos - Grupo 14 </h1>
    <p>Seleccione un link para ir a la consulta respectiva.</p>
    <p><a href="http://grupo14.cc3201.dcc.uchile.cl/prueba/consulta1">Consulta 1: Busqueda por locacion</a></p> 
    <p><a href="http://grupo14.cc3201.dcc.uchile.cl/prueba/consulta2">Consulta 2: Busqueda por palabra clave</a></p>
    <p><a href="http://grupo14.cc3201.dcc.uchile.cl/prueba/consulta3">Consulta 3: Busqueda por mes</a></p>
</body>
</html>
